:root {
  --color-background: #fff;
  --color-main: 0, 0, 0;

  --color-text: rgba(var(--color-main), .85);
  --color-link-default: #0074D9;
  --color-border: #dadcdd;

  --gutter-l: 4rem;
  --gutter-m: 2rem;
  --gutter-s: 1rem;

  --font-type-sans: 'Roboto', Helvetica, sans-serif;
  --font-type-serif: 'Playfair Display', Georgia, serif;
  --font-type-mono: 'Menlo', monospace;

  --font-size-xxl: 4rem;
  --font-size-xl: 3rem;
  --font-size-l: 2rem;
  --font-size-m: 1.5rem;
  --font-size-s: .9rem;
  --font-size-xs: .75rem;
  --font-size-xxs: .5rem;

  --radius: .7rem;
  --radius-half: .35rem;
  --visual-correction: .0625rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  font-family: var(--font-type-sans);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 68rem;
}

h1, h2, h3, h4, h5, h6, dt, strong {
  font-weight: 500;
}

h1, h2, h3 {
  font-family: var(--font-type-serif);
}

h4, h5, h6 {
  font-family: var(--font-type-sans);
  margin-bottom: 1em;
}

a {
  color: var(--color-link-default);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

/* LAYOUT */

.header,
.hero {
  padding: var(--gutter-m);
}

.image--border {
  border: 1px solid var(--color-border);
}

/* B&W IMAGES */

.header__logo,
.blog-entry__image,
.entry-head__image {
  opacity: .9;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.header::before {
  content: '←';
  position: absolute;
  left: 12px;
}

.header__logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHCAYAAADXhRcnAAAAQUlEQVQYlaWPWwoAIAgEZ6P7X9kgkEosP9q/8cUowFg52Mwk6dpvW5EwVLEaH+luWJyI/ck37Zj0jS9tX061ngwM3psOEDmut7oAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  font-size: 0;
  width: 15px;
  height: 7px;
  transform: scale(3);
  transform-origin: left;
}

/* FOOTER */

.footer {
  margin-bottom: var(--gutter-l);
  text-align: center;
  font-family: var(--font-type-serif);
  font-weight: 500;
}

.footer::before {
  content: '— '
}

.footer a {
  color: var(--color-text);
}

/* BLOG POST */

.entry-head,
.entry-body {
  margin: 0 auto;
  font-size: 18px;
  padding: var(--gutter-s);
}

.entry-head {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--gutter-m);
}

.entry-head__headline {
  font-size: var(--font-size-xl);
  line-height: 1.15em;
  margin: var(--gutter-s) 0;
}

.entry-body {
  line-height: 1.6em;
}

.entry-body img,
.entry-body video {
  max-width: 100%;
  max-height: 75vh;
  margin: var(--gutter-m) auto;
  display: block;
}

.entry-body img,
.entry-body lite-youtube,
.entry-body video {
  border-radius: var(--radius);
}

.entry-body figure {
  margin: var(--gutter-m) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-s);
}

.entry-body figure img {
  margin: 0;
}

.entry-body figcaption {
  font-size: var(--font-size-s);
  font-style: italic;
  text-align: center;
}

.entry-body__video {
  width: 100%;
}

.entry-body h2,
.entry-body h3 {
  margin-top: var(--gutter-l);
  line-height: normal;
}

.entry-body h2 {
  font-size: var(--font-size-l);
}

.entry-body h3 {
  font-size: var(--font-size-m);
}

.entry-body p {
  margin-bottom: var(--gutter-s);
}

.entry-body ol,
.entry-body ul {
  padding-left: var(--gutter-m);
}

.entry-body blockquote {
  border-left: 4px solid var(--color-text);
  padding-left: var(--gutter-s);
  margin-bottom: var(--gutter-s);
  margin-left: 4px;
  font-style: italic;
}

.entry-body code,
.faux-code {
  font-family: var(--font-type-mono);
  border: 1px solid var(--color-text);
  padding: .1em .3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: var(--radius-half);
  font-size: var(--font-size-s);
}

.entry-body pre {
  overflow: auto;
}

.entry-body pre code {
  display: inline-block;
  min-width: 100%;
  line-height: 1.7;
  padding: var(--gutter-s);
  border-radius: var(--radius);
  background-color: var(--color-text);
  color: var(--color-background);
  font-weight: 600;
}

abbr[title] {
  border-bottom: 1px dotted var(--color-text);
  cursor: help;
}

/* CODE EXPERIMENTS */

.experiment-workspace {
  position: relative;
  margin-bottom: var(--gutter-l);
  border-radius: var(--radius);
}

/* DISQUS MODULE */

#disqus_thread {
  margin-top: var(--gutter-l);
}

#disqus_thread p,
#disqus_thread a {
  color: var(--color-text);
}  

/* LEMME KNOW MODULE */

/* .lemme-know {
  display: flex;
  gap: var(--gutter-s);
}

.lemme-know [name="email"],
.lemme-know [type="submit"] {
  height: 3rem;
  border: 1px solid var(--color-text);
  font-size: var(--font-size-s);
  border-radius: var(--radius);
  padding: 0 var(--gutter-s);
}

.lemme-know [name="email"] {
  width: 60%;
  color: var(--color-text);
}

.lemme-know [type="submit"] {
  width: 40%;
  background-color: var(--color-text);
  color: var(--color-background);
  cursor: pointer;
}

.lemme-know [type="submit"]::after {
  content: ' →';
} */

/* GALLERY MODULE */

[name="galeri"],
[name="galeri"] + img,
[name="galeri"] + video {
  display: none;
  width: auto;
  height: auto;
}

[name="galeri"]:checked + img,
[name="galeri"]:checked + video {
  display: block;
  background-size: cover;
}

[name="galeri"] + img,
[name="galeri"] + video {
  margin-bottom: var(--gutter-s);
}

.galeri {
  display: flex;
  justify-content: center;
  gap: var(--gutter-s);
  margin-bottom: var(--gutter-m);
}

.galeri label {
  position: relative;
}

.galeri img {
  width: 72px;
  height: auto;
  margin: 0;
  border-radius: var(--radius-half);
  cursor: pointer;
}

/* TODO: ¯\_(ツ)_/¯ */
[name="galeri"]:nth-of-type(2):checked ~ .galeri label:nth-of-type(2)::after,
[name="galeri"]:nth-of-type(3):checked ~ .galeri label:nth-of-type(3)::after,
[name="galeri"]:nth-of-type(4):checked ~ .galeri label:nth-of-type(4)::after,
[name="galeri"]:nth-of-type(5):checked ~ .galeri label:nth-of-type(5)::after,
[name="galeri"]:nth-of-type(6):checked ~ .galeri label:nth-of-type(6)::after,
[name="galeri"]:nth-of-type(7):checked ~ .galeri label:nth-of-type(7)::after,
[name="galeri"]:nth-of-type(8):checked ~ .galeri label:nth-of-type(8)::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-bottom-color: var(--color-text);
}

/* BIG SCREENS */
@media (min-width: 48rem) {
  .entry-head {
    text-align: center;
    align-items: center;
    padding: 0 var(--gutter-m) var(--gutter-s);
    max-width: 50rem;
  }

  .entry-head__image {
    transform-origin: center;
  }

  .entry-head__headline {
    font-size: var(--font-size-xxl);
    margin: var(--gutter-m) 0 var(--gutter-s);
  }

  .entry-body {
    max-width: 43rem;
  }

  .entry-body img.retina {
    /* FIXME: Use pixel density and stuff */
    transform: scale(.5);
  }
}
